<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Reset Password Instructions, <%= @user.email %></h1>
    <p>
      Someone, hopefully you, has asked to reset their Ecotrends Network password. It is safe to ignore this email if you did not send.</p>
    <p>To reset your password, simply click on this link and enter your new password in the form. Click: <%= @token_link %><br>
    </p>
    <p>Thanks and have a great day!</p>
    <p>Ecotrends</p>
  </body>
</html>
