<h1>Search</h1>

<%= form_tag('/search') do  %>
  <%#= select_tag :site_name, options_for_select(@sites) %><br />
  <%= select_tag :id, options_for_select(@ids.map(&:entryid)) %><br />
  <%= submit_tag %>
<% end %>

<h2>Search Results</h2>
<% if @results.blank? %>
  <p>None</p>
<% else %>
  <% @results.each do |result| %>
    <p><%= result %></p>
  <% end %>
<% end %>
