<div class="row">
	<div class="span12 backtoresults">
		<a href="#"><img class="baricon" src="/assets/backicon.png"/>Back to Results</a>
	</div> <!-- span -->
</div> <!-- row -->

<div class="row">
	<div style="padding: 5px;" class="span12 comparisonbar">
		<div class="row">
			<div class="span10">
				<h1 class="white">Comparing 3 datasets</h1>
			</div> <!-- span -->	
			<div class="span2">
				<a href="#"><img style="margin: 10px 0 0 0;" src="/assets/printpagebutton.jpg"/></a>
			</div>
		</div> <!-- row -->
	</div> <!-- span -->
</div> <!-- row -->

<div class="row">
	<div class="span12">
		<h1>GRAPH GOES HERE</h1>
	</div>
</div>
