<div class="row">
	<div class="span8">
		<div class="tabbable"> <!-- Only required for left/right tabs -->
		  <ul class="nav nav-tabs">
		    <li class="active"><a href="#tab1" data-toggle="tab">OVERVIEW</a></li>
		    <li><a href="#tab2" data-toggle="tab">VIEW TABLE</a></li>
		    <li><a href="#tab3" data-toggle="tab">VIEW CHART</a></li>
		    <div class="dataset-mainaction">
			  <a href="#"><img class="icon" src="/assets/datastore_off.png"/></a>
			  <a href="#"><img src="/assets/printpagebutton.jpg"/></a>
		  </div>
		  </ul>
			<div class="tab-content">
				<div class="tab-pane active" id="tab1">
					<h1>Plant Productivity (aboveground)</h1>
					<h5>1990 - 2012</h5>
					<h4>EcoTrends Dataset Identifier: ecotrends.9058.1</h4>
					<hr/>
					<div class="twocolumn">
						<h4>Derived Data</h4>
						<p><b>Dataset ID:</b>
						ecotrends.9058.1
						</p>
						
						<p><b>Site:</b>
						Jornada Basin LTER/Jornada Experimental Range</p>
						<p><b>Station(s):</b>
						Jornada Experimental Range Grassland Plots</p>
						<p><b>Variable:</b>
						aboveground net primary productivity</p>
						<p><b>Unit:</b>
						Gramspermetersquaredperyear</p>
						<p><b>Date Range:</b>
						1990 to 2008</p>
						<p><b>Timescale:</b>
						yearly</p>
						<p><b>Data Version:</b>
						1 of 1</p>
						<p><b>Other Data Versions:</b>
						None</p>
						
						<p><b>Derived Data</b><br/>
						<a href="#">View data as HTML</a><br/>
						<a href="#">Download as CSV</a></p>
						
						<h4>Plot:</h4>
						<p><b>Plot Options:</b>
						  Data Points
						  Data Lines
						  Moving Average</p>
						
						<h4>Source Data</h4>
						<p><b>Principal Investigator(s):</b></p>
						
						<h4>Organization(s):</h4>
						<p><b>Jornada Basin</b>
						Any use of data or figures from this EcoTrends project dataset must include the following statement(s): "Data and figures were obtained from the EcoTrends Project (http://www.ecotrends.info) funded by the National Science Foundation and USDA Agricultural Research Service. These data are from Jornada Basin (http://jornada-www.nmsu.edu/); ecotrends.9058.1."</p>
					</div>
				</div>
				<div class="tab-pane" id="tab2">
					<p>Howdy, I'm in Section 2.</p>
				</div>
				<div class="tab-pane" id="tab3">
					<p>Howdy, I'm in Section 3.</p>
				</div>
			</div>
		</div>
	</div>
	<div class="span4 dataset-rightside">
			<div class="row">
				<div class="span4">
					<a href="#"><div class="savetofile"></div></a>
					<br/>
				</div> <!-- span -->
			</div> <!-- row -->
			<div class="row">
				<div class="span4">
					<h4><img class="icon" src="/assets/station.png"/>Research Site</h4>
					<p>Jornada Experimental Range</p>
					<hr/>
					<h4><img class="icon" src="/assets/globeicon.png"/>Location</h4>
					<p>New Mexico, U.S.A.</p>
					<hr/>
					<h4>Related Publications</h4>
					<p>Peters, D.P.C., Yao, J., Sala, O.E., and Anderson, J. 2012. Directional climate change and potential reversal of desertification in arid and semiarid ecosystems. Global Change Biology 18:151-163. </p>
				</div> <!-- span -->
			</div> <!-- row -->
		</div> <!-- span -->
</div> <!-- row -->
