<div class="row">
	<div class="span12 hover">
		<h1>Data Store</h1>
		<h5>Your Saved Datasets</h5>
	</div> <!-- span -->
</div> <!-- row -->
<div class="row">
	<div class="span12 headerbar">
		<button class="btn">Compare Selected</button>
	</div> <!-- span -->
</div> <!-- row -->

<!-- BEGIN SEARCH RESULTS -->
	<div class="row">
		<div class="span12">
			<div class="row">
				<div class="span1">
					<fieldset>
						<form>
							<input type="checkbox"></input>
						</form>
					</fieldset>
				</div> <!-- row -->
				<div class="span9">
					<a href="#"><h4 class="royalblue">Plant Productivity (aboveground)</h4></a>
					<p class="searchbody">This study measures aboveground biomass by species in 49 1-m2 quadrats at each of 3 grassland locations three times a year to calculate aboveground plant production.</p>
					<p><img class="icon" src="/assets/station.png"/>
						<a href="#"><b>Jornada Basin</b>/ New Mexico</a>
						 -- NPP Study / Grassland vegetation -- Total grams PerMeterSquaredPerYard</p>
				</div> <!-- span --> 
				<div class="span2 searchright">
					<h4>1990 - 2012</h4>
					<img src="/assets/datastore_on.png"/>
				</div> <!-- span -->
				<hr>
			</div> <!-- row -->
		</div> <!-- span -->
	</div> <!-- row -->
	
	
	