<div class="row">
	<div class="span12">
		<div class="tabbable"> <!-- Only required for left/right tabs -->
		  <ul class="nav nav-tabs">
		    <li><a href="#tab1" data-toggle="tab">OVERVIEW</a></li>
		    <li class="active"	><a href="#tab2" data-toggle="tab">VIEW TABLE</a></li>
		    <li><a href="#tab3" data-toggle="tab">VIEW CHART</a></li>
		    <div class="dataset-mainaction">
			  <a href="#"><img class="icon" src="/assets/datastore_off.png"/></a>
			  <a href="#"><img src="/assets/printpagebutton.jpg"/></a>
		  </div>
		  </ul>
			<div class="tab-content">
				<div class="tab-pane active" id="tab1">
					<h1>Plant Productivity (aboveground)</h1>
					<h5>1990 - 2012</h5>
					<table class="table table-striped">
						<thead>
							<tr>
								<td>Year							</td>
								<td>Vegetation				</td>
								<td>Location					</td>
								<td>total NPP (g/m2/y)</td>
								<td>Comments					</td>
							</tr>
						</thead>
						<tr>
							<td>1990															 </td>
							<td>Grassland													 </td>
							<td>BASN															 </td>
							<td>77.2															 </td>
							<td><img src="/assets/stickynote.png"/></td>
						</tr>
						<tr>
							<td>1990															 </td>
							<td>Grassland													 </td>
							<td>BASN															 </td>
							<td>77.2															 </td>
							<td><img src="/assets/stickynote.png"/></td>
						</tr>
						<tr>
							<td>1990															 </td>
							<td>Grassland													 </td>
							<td>BASN															 </td>
							<td>77.2															 </td>
							<td><img src="/assets/stickynote.png"/></td>
						</tr>
						<tr>
							<td>1990															 </td>
							<td>Grassland													 </td>
							<td>BASN															 </td>
							<td>77.2															 </td>
							<td><img src="/assets/stickynote.png"/></td>
						</tr>
						<tr>
							<td>1990															 </td>
							<td>Grassland													 </td>
							<td>BASN															 </td>
							<td>77.2															 </td>
							<td><img src="/assets/stickynote.png"/></td>
						</tr>
						<tr>
							<td>1990															 </td>
							<td>Grassland													 </td>
							<td>BASN															 </td>
							<td>77.2															 </td>
							<td><img src="/assets/stickynote.png"/></td>
						</tr>
						<tr>
							<td>1990															 </td>
							<td>Grassland													 </td>
							<td>BASN															 </td>
							<td>77.2															 </td>
							<td><img src="/assets/stickynote.png"/></td>
						</tr>
					</table>
				</div>
		</div>
	</div>
</div> <!-- row -->
