<div class="row">
  <div class="span12">
    <h1>Glossary</h1>
    <h5>Glossary of terms used site-wide.</h5>
    <div class="accordion" id="accordion2">
      <% @terms.each do |term| %>
      <div class="accordion-group">
	<% the_term =  term.keys.first %>
	<div class="accordion-heading">
	  <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#<%= the_term %>">
            <%= the_term %>
	  </a>
	</div>
	<div id="<%= the_term %>" class="accordion-body collapse in">
	  <div class="accordion-inner">
	    <%= term[the_term] %>
	  </div>
	</div>
      </div>
      <% end %>
    </div>
  </div> <!-- span -->
</div> <!-- row -->
