<h1>Welcome to EcoTrends</h1>
<p style="padding-top: 1.0em;">We are currently verifying the data on this website with the contributing researchers; please read the disclaimer below.
  The Earth's environment is changing at local, regional, and global scales. Dramatic changes have occurred over the past century in climate, land cover, and habitat availability with important consequences for plant, animal, microbial, and human populations. Long-term data provide the only means to assess the rate and direction of change, to distinguish directional trends from short-term variability, and to forecast environmental conditions in the future.
  The EcoTrends Project is designed to promote and enable the use and synthesis of long-term data to examine these trends in the Earth's ecosystems.
  The EcoTrends project is a collaborative effort among state and federal agencies and institutions, at present primarily in the US, to make long-term ecological data easy to access, analyze, and compare within and across sites. This website is a portal to:
</p>
<ul>
  <li>
    a large and diverse collection of standardized long-term ecological datasets and their metadata (> 1200 datasets)
  </li>
  <li>
    unique data exploration, download, graphing and synthesis tools
  </li>
  <li>
    information about participating research sites and their parent agencies
  </li>
</ul>
