<div class="row">
	<div class="span14">
		<h1>Infographics</h1>
		<h5>Infographics Library</h5>

        <p>
        </p>
    <div id="gallery" data-toggle="modal-gallery" data-target="#modal-gallery">

      <% @json_hash["images"].each_with_index do |key, index| %>

          <%= link_to image_path("/images/infographics/#{key['image']['name']}"), title:"#{key['image']['title']}", :"data-gallery"=>"gallery" do %>
              <%= image_tag("/images/infographics/thumb/#{key['image']['name']}", id:"info_thumb") %>
          <% end %>

          <% if index != 0 and ((index + 1) % 7) == 0  %>
              <p></p>
          <% end %>

      <% end %>

    </div>
    <br>


<!-- modal-gallery is the modal dialog used for the image gallery -->
<div id="modal-gallery" class="modal modal-gallery hide fade" tabindex="-1">
    <div class="modal-header">
        <a class="close" data-dismiss="modal">&times;</a>
        <h3 class="modal-title"></h3>
    </div>
    <div class="modal-body"><div class="modal-image"></div></div>
    <div class="modal-footer">
        <a class="btn modal-download" target="_blank">
            <i class="icon-download"></i>
            <span>Download</span>
        </a>
        <a class="btn btn-success modal-play modal-slideshow" data-slideshow="5000">
            <i class="icon-play icon-white"></i>
            <span>Slideshow</span>
        </a>
        <a class="btn btn-info modal-prev">
            <i class="icon-arrow-left icon-white"></i>
            <span>Previous</span>
        </a>
        <a class="btn btn-primary modal-next">
            <span>Next</span>
            <i class="icon-arrow-right icon-white"></i>
        </a>
    </div>
</div>

	</div> <!-- span -->
</div> <!-- row -->
