<div class="row">
  <div class="span12">
        <h1>EcoTrends Data Access Policy, Data Access Requirements, and General Data Use Agreement</h1>
    <p><em>April 10, 2007 </em></p>
    <h2>EcoTrends Data Access Policy</h2>
    <p>The EcoTrends data policy follows the LTER data policy by including three specific sections designed to express shared network policies regarding the release of EcoTrends data products, user registration for accessing data, and the licensing agreements specifying the conditions for data use. </p>
  <h2>EcoTrends Data Release Policy</h2>
  <p>Data and information made available to the EcoTrends project are accessible online with as few restrictions as possible, on a nondiscriminatory basis. EcoTrends participating scientists should make every effort to release data with attention to accurate and complete metadata.</p>
  <h2>Data</h2>
  <p>All data made available to the public via the EcoTrends website are to be released to the general public according to the terms of the general data use agreement below.</p>
  <p>While the spirit of this document is to promote maximum availability for ecological data, there are criteria by which priority for data release may be determined. Aggregated or otherwise processed data with complete metadata have highest priority. Other types of data including student thesis data or legacy data that already suffer from inadequate documentation or format obsolescence may be ranked a lower priority by a site with justifications provided in their data management policy. Finally, some data may be determined of lowest priority for archiving on the grounds that they are interim data that led to final products that carry the scientific value. These might include data files created during stages within an analytic workflow, raw or replicate data values that were subsequently aggregated or processed for release, or individual outputs from stochastic models. EcoTrends does not store or distribute datasets with distribution or use restrictions imposed by the data owner(s).</p>
  <h2>Metadata</h2>
  <ol>
    <li>Metadata documenting      archived/online data sets of all types listed above will be made available      when, or before, the dataset itself is released according to the terms      above.</li>
    <li>All metadata will be publicly      available.</li>
    <li>All metadata will follow Long-Term      Ecological Research (LTER) Network recommended standards and will minimally contain adequate information on proper citation, access, contact      information, and discovery. Complete information including methods,      structure, semantics, and quality control/assurance is expected for most      datasets and is strongly encouraged.</li>
  </ol>
  <h3>EcoTrends Data Access Requirements</h3>
  <p>The access to all EcoTrends data is subject to requirements set forth by this policy document to enable data providers to track usage, evaluate its impact in the community, and confirm users' acceptance of the terms of acceptable use. These requirements are standardized to provide contractual exchange of data between Site Data Providers, Network Data Providers, and Data Users that can be encoded into electronic form and exchanged between computers. This will allow direct access to data via a common portal once these requirements have been fulfilled.</p>
  <p>The following information may be required directly or by proxy prior to the transference of any data object:</p>
    <ul type="disc">
      <li>Registration</li>
  	  <ol>
		<li>Name</li>
    		<li>Affiliation</li>
    		<li>Email Address</li>
    		<li>Full Contact Information</li>
  	  </ol>
      <li>Acceptance of the General Public Use Agreement</li>
      <li>A Statement of Intended Use that is compliant with the above agreements. Such statements may be made      submitted explicitly or made implicitly via the data access portal      interface. </li>
    </ul>
  <h3>Data Use Agreements</h3>
  <p><b>Submit a pdf of any final publication using EcoTrends data to: ecotrend@nmsu.edu</b></p><br/>
  <p>Datasets released by EcoTrends will be accompanied by the General Data Use Agreement (see below). This document specifies general roles and the obligations and rights enjoyed by each regarding the use of most dataset released for general public use. This document may be updated as the LTER data policy is updated in the future to ensure compliance with the LTER policy.</p>
  <h3>General Data Use Agreement</h3>
  <h4>Definitions</h4>
  <p><strong>&ldquo;Dataset&rdquo; </strong>&ndash; Digital data and its metadata derived from any research activity such as field observations, collections, laboratory analysis, experiments, or the post-processing of existing data and identified by a unique identifier issued by a recognized cataloging authority such as a site, university, agency, or other organization.</p>
  <p><strong>&ldquo;Data User&rdquo;</strong> - individual to whom access has been granted to this Dataset, including his or her immediate collaboration sphere, defined here as the institutions, partners, students and staff with whom the Data User collaborates, and with whom access must be granted, in order to fulfill the Data User's intended use of the Dataset</p>
  <p><strong>&ldquo;Dataset Creator&rdquo;</strong> - individual or institution that produced the Dataset</p>
  <p><strong>&ldquo;Dataset Owner&rdquo;</strong> &ndash; individual or institution that holds intellectual property rights to the dataset. Note that this may or may not be defined as a legal copyright. If no other party is designated in the metadata as Dataset Owner, it may be presumed that these rights are held by the Dataset Creator.</p>
  <p><strong>&ldquo;Dataset Distributor&rdquo;</strong> - individual or institution providing access to the Datasets.</p>
  <p><strong>&ldquo;Dataset Contact&rdquo;</strong> - party designated in the accompanying metadata of the Dataset as the primary contact for the Dataset.</p>
  <h3>Conditions of Use</h3>
  <p>The re-use of scientific data has the potential to greatly increase communication, collaboration and synthesis within and among disciplines, and thus is fostered, supported and encouraged. Permission to use this dataset is granted to the Data User free of charge subject to the following terms:</p>
  <p>1) Acceptable use. Use of the dataset will be restricted to academic, research, educational, government, recreational, or other not-for-profit professional purposes. The Data User is permitted to produce and distribute derived works from this dataset provided that they are released under the same license terms as those accompanying this Dataset. Any other uses for the Dataset or its derived products will require explicit permission from the dataset owner. </p>
  <p>2) Redistribution. The data are provided for use by the Data User. The metadata and this license must accompany all copies made and be available to all users of this Dataset. The Data User will not redistribute the original Dataset beyond this collaboration sphere.</p>
  <p>
  3) Citation. It is considered a matter of professional ethics to acknowledge
  the work of other scientists. Thus, the Data User will properly cite the
  Dataset in any publications or in the metadata of any derived data products
  that were produced using the Dataset. Citation should take the following
  general form: Creator, Year of Data Publication, Title of Dataset, Publisher,
  Dataset identifier. Any use of data or figures from the EcoTrends project must include the following statements (replace [Original Data Source] and [EcoTrends Dataset Identifier] with values from the website as appropriate):
"Data and figures were obtained from the EcoTrends Project (http://www.ecotrends.info) funded by the National Science Foundation and USDA Agricultural Research Service. These data are from [Original Data Source]; [EcoTrends Dataset Identifier]."
  </p>

  <p>4) Acknowledgement. The Data User should acknowledge any institutional support or specific funding awards referenced in the metadata accompanying this dataset in any publications where the Dataset contributed significantly to its content. Acknowledgements should identify the supporting party, the party that received the support, and any identifying information such as grant numbers.</p>
  <p>5) Notification. The Data User will notify the Dataset Contact when any derivative work or publication based on or derived from the Dataset is distributed. The Data User will provide the data contact with two reprints of any publications resulting from use of the Dataset and will provide copies, or on-line access to, any derived digital products. Notification will include an explanation of how the Dataset was used to produce the derived work.</p>
  <p>6) Collaboration. The Dataset has been released in the spirit of open scientific collaboration. Data Users are thus strongly encouraged to consider consultation, collaboration and/or co-authorship with the Dataset Creator.</p>
  <p>By accepting this Dataset, the Data User agrees to abide by the terms of this agreement. The Data Owner shall have the right to terminate this agreement immediately by written notice upon the Data User's breach of, or non-compliance with, any of its terms. The Data User may be held responsible for any misuse that is caused or encouraged by the Data User's failure to abide by the terms of this agreement. </p>
  <h3>Disclaimer</h3>
  <p>While substantial efforts are made to ensure the accuracy of data and documentation contained in the datasets discovered on the EcoTrends website, complete accuracy of data and metadata cannot be guaranteed. All data and metadata are made available &quot;as is&quot;. The Data User holds all parties involved in the production or distribution of the Dataset harmless for damages resulting from its use or interpretation. <br />
    <br />
    <em>Forward comments to:<br />
    EcoTrends Project Coordinator<br />
    Jornada Basin LTER<br />
    New Mexico State University<br />
    Box 30003, MSC 3JER<br />
    Las Cruces, NM 88003<br />
    ecotrend@nmsu.edu</em></p>
  </div> <!-- span -->
</div> <!-- row -->
