<div class="span3">
	<h4><img class="baricon" src="/assets/sitesicon.png"/><a href="#">Sites</a><span style="float:right;"><a href="#">+/-</a></span></h4>
	<hr>
	<ul class="search-side">
		<a href="#"><li>All Sites</li>														</a>
		<a href="#"><li><b>Arctic LTER</b></li>										</a>
		<a href="#"><li>Baltimore Ecosystem Study LTER</li>				</a>
		<a href="#"><li>Bent Creek Experimental Forest</li>				</a>
		<a href="#"><li>Blacks Mountain Experimental Forest</li>	</a>
		<a href="#"><li>Bonanza Creek										 </li>		</a>
		<a href="#"><li>California Current Ecosytem			 </li>		</a>
		<a href="#"><li>Cascade Head Experimental Forest </li>		</a>
		<a href="#"><li>Caspar Creek Experimental Waters.</li>		</a>
		<a href="#"><li>Cedar Creek Ecosystem Science Reserve</li></a>
		<a href="#"><li>Central Arizona - Phoenix Urban LTER</li>	</a>
		<a href="#"><li>Coweeta													 </li>		</a>
		<a href="#"><li>Crossett Experimental Forest		 </li>		</a>
		<a href="#"><li><b>Show More &#x25BC;</b></li>		</a>
	</ul>
	<hr>
	
	<h4><img class="baricon" src="/assets/networkicon.png"/><a href="#">Networks</a><span style="float:right;"><a href="#">All</a></span></h4>
	<hr>
	<ul class="search-side">
		<a href="#"><li>All Networks</li>														</a>
		<a href="#"><li>LTER</li>										</a>
		<a href="#"><li>USDA-ARS</li>				</a>
		<a href="#"><li>LTAR</li>				</a>
		<a href="#"><li>USFS</li>	</a>
	</ul>
	<hr>
	
	<h4><img class="baricon" src="/assets/ecosystemicon.png"/><a href="#">EcoSystem Types</a><span style="float:right;"><a href="#">+/-</a></span></h4>
	<hr>
	<ul class="search-side">
		<a href="#"><li>All Ecosystems</li>														</a>
		<a href="#"><li><b>Apline &amp; Arctic</b></li>										</a>
		<a href="#"><li>Aridlands</li>				</a>
		<a href="#"><li>Eastern Forrest</li>				</a>
		<a href="#"><li>Rock &amp; Ice</li>	</a>
		<a href="#"><li>Western Forrest</li>	</a>
		<a href="#"><li>Other</li>	</a>
	</ul>
	<hr>
	
	<h4><img class="baricon" src="/assets/topicicon.png"/><a href="#">Topics</a><span style="float:right;"><a href="#">+/-</a></span></h4>
	<hr>
	
		<h4><img class="baricon" src="/assets/variableicon.png"/><a href="#">Variables Measured</a><span style="float:right;"><a href="#">+/-</a></span></h4>
	<hr>
	<ul class="search-side">
		<a href="#"><li>All Variables</li>														</a>
		<a href="#"><li><b>Density</b></li>										</a>
		<a href="#"><li>Biomass</li>				</a>
		<a href="#"><li>Productivity</li>				</a>
		<a href="#"><li>Diversity of Richness</li>	</a>
	</ul>
		
</div> <!-- span -->

<div class="span searchbar">
	<div class="row">
		<div class="span3">
			<h1>Search Results</h1>
			<p class="searchbody">24 results for: <b>Plant Productivity</b></p>
		</div> <!-- span -->	
		<div class="span5">
			<fieldset>
				<form>
					<input type="search" value="Plant Productivity"></input>
				</form>
			</fieldset>
		</div> <!-- span -->	
	</div> <!-- row -->	
</div> <!-- span -->

<div class="row">
	<div class="span8">
		<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
			<li><h4><img class="baricon" src="/assets/globeicon.png"/><a tabindex="-1" href="#"><span style="margin-right:70px;">Location</span></a></li>
			<li><img class="baricon" src="/assets/topicicon.png"/><a tabindex="-1" href="#">Topic</a>
			</h4></li>
		</ul>
		<hr>
	</div> <!-- span -->
	
	
<!-- BEGIN SEARCH RESULTS -->
		<div class="span8">
			<div class="row">
				<div class="span1">
					<fieldset>
						<form>
							<input type="checkbox"></input>
						</form>
					</fieldset>
				</div> <!-- span -->
				<div class="span5">
					<a href="#"><h4 class="darkbrown">Plant Productivity (aboveground)</h4></a>
					<p class="searchbody">This study measures aboveground biomass by species in 49 1-m2 quadrats at each of 3 grassland locations three times a year to calculate aboveground plant production.</p>
					<p><img class="icon" src="/assets/station.png"/>
						<a href="#"><b>Jornada Basin</b>/ New Mexico</a>
						 -- NPP Study / Grassland vegetation -- Total grams PerMeterSquaredPerYard</p>
				</div> <!-- span --> 
				<div class="span2 searchright">
					<h4>1990 - 2012</h4>
					<a href="#"><img src="/assets/datastore_on.png"/></a>
				</div> <!-- span -->
			</div> <!-- row -->
			<hr>
		</div> <!-- span -->
		
		<div class="span8">
			<div class="row">
				<div class="span1">
					<fieldset>
						<form>
							<input type="checkbox"></input>
						</form>
					</fieldset>
				</div> <!-- span -->
				<div class="span5">
					<a href="#"><h4 class="darkbrown">Plant Productivity (aboveground)</h4></a>
					<p class="searchbody">This study measures aboveground biomass by species in 49 1-m2 quadrats at each of 3 grassland locations three times a year to calculate aboveground plant production.</p>
					<p><img class="icon" src="/assets/station.png"/>
						<a href="#"><b>Jornada Basin</b>/ New Mexico</a>
						 -- NPP Study / Grassland vegetation -- Total grams PerMeterSquaredPerYard</p>
				</div> <!-- span --> 
				<div class="span2 searchright">
					<h4>1990 - 2012</h4>
					<a href="#"><img src="/assets/datastore_on.png"/></a>
				</div> <!-- span -->
			</div> <!-- row -->
			<hr>
		</div> <!-- span -->
		
		<div class="span8">
			<div class="row">
				<div class="span1">
					<fieldset>
						<form>
							<input type="checkbox"></input>
						</form>
					</fieldset>
				</div> <!-- span -->
				<div class="span5">
					<a href="#"><h4 class="darkbrown">Plant Productivity (aboveground)</h4></a>
					<p class="searchbody">This study measures aboveground biomass by species in 49 1-m2 quadrats at each of 3 grassland locations three times a year to calculate aboveground plant production.</p>
					<p><img class="icon" src="/assets/station.png"/>
						<a href="#"><b>Jornada Basin</b>/ New Mexico</a>
						 -- NPP Study / Grassland vegetation -- Total grams PerMeterSquaredPerYard</p>
				</div> <!-- span --> 
				<div class="span2 searchright">
					<h4>1990 - 2012</h4>
					<a href="#"><img src="/assets/datastore_on.png"/></a>
				</div> <!-- span -->
			</div> <!-- row -->
			<hr>
		</div> <!-- span -->
		
		<div class="span8">
			<div class="row">
				<div class="span1">
					<fieldset>
						<form>
							<input type="checkbox"></input>
						</form>
					</fieldset>
				</div> <!-- span -->
				<div class="span5">
					<a href="#"><h4 class="darkbrown">Plant Productivity (aboveground)</h4></a>
					<p class="searchbody">This study measures aboveground biomass by species in 49 1-m2 quadrats at each of 3 grassland locations three times a year to calculate aboveground plant production.</p>
					<p><img class="icon" src="/assets/station.png"/>
						<a href="#"><b>Jornada Basin</b>/ New Mexico</a>
						 -- NPP Study / Grassland vegetation -- Total grams PerMeterSquaredPerYard</p>
				</div> <!-- span --> 
				<div class="span2 searchright">
					<h4>1990 - 2012</h4>
					<a href="#"><img src="/assets/datastore_on.png"/></a>
				</div> <!-- span -->
			</div> <!-- row -->
			<hr>
		</div> <!-- span -->
		
		<div class="span8">
			<div class="row">
				<div class="span1">
					<fieldset>
						<form>
							<input type="checkbox"></input>
						</form>
					</fieldset>
				</div> <!-- span -->
				<div class="span5">
					<a href="#"><h4 class="darkbrown">Plant Productivity (aboveground)</h4></a>
					<p class="searchbody">This study measures aboveground biomass by species in 49 1-m2 quadrats at each of 3 grassland locations three times a year to calculate aboveground plant production.</p>
					<p><img class="icon" src="/assets/station.png"/>
						<a href="#"><b>Jornada Basin</b>/ New Mexico</a>
						 -- NPP Study / Grassland vegetation -- Total grams PerMeterSquaredPerYard</p>
				</div> <!-- span --> 
				<div class="span2 searchright">
					<h4>1990 - 2012</h4>
					<a href="#"><img src="/assets/datastore_on.png"/></a>
				</div> <!-- span -->
			</div> <!-- row -->
		</div> <!-- span -->
	
</div> <!-- row -->

