<div id="content">
  <!-- InstanceBeginEditable name="editContent" -->
  <h1>Synthesis figures and maps from the book</h1>

  <br>

  <p class="emphasis">Peters, DPC, Laney CM, Lugo AE, Collins SL, Driscoll CT, Groffman PM, Grove JM, Knapp AK, Kratz TK, Ohman MD, Waide RB and Yao J.2011. Long-term trends in ecological systems: a basis for understanding responses to global change. USDA Agriculture Research Service Publication No. XX. Washington, D.C.</p>
  <br>


  <p class="emphasis">Chapter 11 Long-term trends in climatic and climate-related drivers</p>
  <div id="gallery" data-toggle="modal-gallery" data-target="#modal-gallery">
  <p>
    <a href="/assets/fig11-2.jpg" data-gallery="gallery">
      Fig. 11-2. Continental patterns of minimum and maximum air temperature for all sites.
    </a>
  </p>
  <br>
  <p>
    <a href="/assets/fig11-3.jpg" data-gallery="gallery">
      Fig. 11-3. Continental patterns of mean air temperature and annual precipitation for all sites.
    </a>
  </p>
  <br>

  <p class="emphasis"> Chapter 12 Long-term trends in precipitation and surface water chemistry</p>
  <p>
    <a href="/assets/Fig12-1.jpg" data-gallery="gallery">
      Fig. 12-1.  Continental patterns of nitrogen (nitrate) from precipitation: volume-weighted concentration and wet deposition.
    </a>
  </p>
  <br>
  <p>
    <a href="/assets/fig12-9.jpg" data-gallery="gallery">
      Fig. 12-9. Continental patterns of nitrogen (ammonium) from precipitation: volume-weighted concentration and wet deposition.
    </a>
  </p>
  <br>
  <p>
    <a href="/assets/fig12-22.jpg" data-gallery="gallery">
      Fig. 12-22.  Continental patterns of sulfur (sulfate) from precipitation: volume-weighted concentration and wet deposition.
    </a>
  </p>
  <br>
  <p>
    <a href="/assets/fig12-31.jpg" data-gallery="gallery">
      Fig. 12-31. Continental patterns of chloride from precipitation: volume-weighted concentration and wet deposition.
    </a>
  </p>
  <br>
  <p>
    <a href="/assets/fig12-32.jpg" data-gallery="gallery">
      Fig. 12-32. Continental patterns of calcium from precipitation: volume-weighted concentration and wet deposition.
    </a>
  </p>
  <br>

  <p class="emphasis">Chapter 13 Long-term trends in human demography and economy across sites</p>
  <p>
    <a href="/assets/fig13-1.jpg" data-gallery="gallery">
      Fig. 13-1. Continental pattern of percentage change in total population over time by county.
    </a>
  </p>
  <br>
  <p>
    <a href="/assets/fig13-2.jpg" data-gallery="gallery">
      Fig. 13-2. Continental pattern of percentage urban population by county over time.
    </a>
  </p>
  </div>

  <div id="modal-gallery" class="modal modal-gallery hide fade" tabindex="-1">
    <div class="modal-header">
      <a class="close" data-dismiss="modal">&times;</a>
      <h3 class="modal-title"></h3>
    </div>
    <div class="modal-body"><div class="modal-image"></div></div>
    <div class="modal-footer">
      <a class="btn modal-download" target="_blank">
        <i class="icon-download"></i>
        <span>Download</span>
      </a>
      <a class="btn btn-success modal-play modal-slideshow" data-slideshow="5000">
        <i class="icon-play icon-white"></i>
        <span>Slideshow</span>
      </a>
      <a class="btn btn-info modal-prev">
        <i class="icon-arrow-left icon-white"></i>
        <span>Previous</span>
      </a>
      <a class="btn btn-primary modal-next">
        <span>Next</span>
        <i class="icon-arrow-right icon-white"></i>
      </a>
    </div>
  </div>
  <!-- Closes the content div -->
</div>