<ul class='inline'>
  <li class='active'>
    <h4><%= image_tag "topicicon.png", class: "baricon" %>Topic</h4>
  </li>
  <li>
    <div class="dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown" href="#">
        <h4><%= image_tag "globeicon.png", class: "baricon" %>Location</h4>
      </a>
      <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
      	<div class="row">
      		<div class="span10">
	      		<div class="span2">
			        <li>
			        	<h4>STATE</h4>
									<a href="#">ALL									<br></a>
									<a href="#">Alabama							<br></a>
									<a href="#">Alaska							<br></a>
									<a href="#">Arizona							<br></a>
									<a href="#">Arkansas						<br></a>
									<a href="#">California					<br></a>
									<a href="#">Colorado						<br></a>
									<a href="#">Connecticut					<br></a>
									<a href="#">Delaware						<br></a>
									<a href="#">District of Columbia<br></a>
									<a href="#">Florida							<br></a>
									<a href="#">Georgia							<br></a>
									<a href="#">Hawaii							<br></a>
									<a href="#">Idaho								<br></a>
									<a href="#">Illinois						<br></a>
									<a href="#">Indiana							<br></a>
									<a href="#">Iowa								<br></a>
									<a href="#">Kansas							<br></a>
									<a href="#">Kentucky						<br></a>
									<a href="#">Louisiana						<br></a>
			        </li>
			        <li class="divider"></li>
	      		</div> <!-- span -->
	      		<div class="span2">
			        <li>
								<a href="#">Maryland			<br></a>
								<a href="#">Massachusetts	<br></a>
								<a href="#">Michigan			<br></a>
								<a href="#">Minnesota			<br></a>
								<a href="#">Mississippi		<br></a>
								<a href="#">Missouri			<br></a>
								<a href="#">Motntana			<br></a>
								<a href="#">Nebraska			<br></a>
								<a href="#">Nevada				<br></a>
								<a href="#">New Hampshire	<br></a>
								<a href="#">New Jersey		<br></a>
								<a href="#">New Mexico		<br></a>
								<a href="#">New York			<br></a>
								<a href="#">North Carolina<br></a>
								<a href="#">North Dakota	<br></a>
								<a href="#">Ohio					<br></a>
								<a href="#">Oklahoma			<br></a>
								<a href="#">Oregon				<br></a>
								<a href="#">Pennsylvania	<br></a>
								<a href="#">Rhode Island	<br></a>
								<a href="#">South Carolina<br></a>
			        </li>
			        <li class="divider"></li>
	      		</div> <!-- span -->

	      		<div class="span2">
			        <li>
								<a href="#">South Dakota <br></a>
								<a href="#">Tennessee		 <br></a>
								<a href="#">Texas				 <br></a>
								<a href="#">Utah				 <br></a>
								<a href="#">Vermont			 <br></a>
								<a href="#">Virginia		 <br></a>
								<a href="#">Washington	 <br></a>
								<a href="#">West Virginia<br></a>
								<a href="#">Wisconsin		 <br></a>
								<a href="#">Wyoming			 <br></a>
			        </li>
			        <li class="divider"></li>
	      		</div> <!-- span -->

	      		<div class="span2">
			        <li>
								<h4>ECOSYSTEM TYPE</h4>
								<a href="#">ALL															<br></a>
								<a href="#">Aridlands												<br></a>
								<a href="#">Temperate grasslands and savannas<br></a>
								<a href="#">Eastern Forrest									<br></a>
								<a href="#">Western Forrest									<br></a>
								<a href="#">Alpine and arctic								<br></a>
								<a href="#">Rock and Ice											<br></a>
								<a href="#">Other														<br></a>
								<br>
								<h4>NETWORKS</h4>
								<a href="#">ALL			<br></a>
								<a href="#">LTER		<br></a>
								<a href="#">USDA-ARS<br></a>
								<a href="#">LTAR		<br></a>
								<a href="#">USFS		<br></a>
			        </li>
			        <li class="divider"></li>
	      		</div> <!-- span -->


      		</div> <!-- span -->
      	</div> <!-- row -->
      </ul>
    </div>
    </li>
</ul>
