
				<div class="footbox">
		      <ul>
		      	<a href="/policies"><li>Policies & Guidelines |&nbsp</li></a>
            <a href="/participating-sites">Participating Sites |&nbsp</a>
		      	<a href="/home/contact"><li>Contact Us |&nbsp</li></a>
		      	<a href="/home/glossary"><li>Glossary |&nbsp</li></a>
		      	<a href="/home/publications"><li>Publications</li></a>
		      </ul>
				</div>
