
				<div class="footbox">
		      <ul>
		      	<a href="/policies"><li>Policies & Guidelines |&nbsp</li></a>
		      	<a href="/home/contact"><li>Contact Us |&nbsp</li></a>
		      	<a href="/home/glossary"><li>Glossary</li></a>
		      </ul>
				</div>
