/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require bootstrap-datepicker3
 *= require font-awesome
 */
.bold {
    font-weight: bold;
}
.line-legend li {
    list-style: none;
}
.line-legend li span {
    width: 100px !important;
    margin-right: 1.0em !important;
}

.legend-item-color {
    width:30px; height: 30px;
}

#flash {
    color: green;
    border: 1px solid;
    padding: 1.0em;
    width: 40em;
    text-align: center;
}

.browse-by {
    list-style: none;
    margin-left: 0;
}

.moresites {
    cursor: hand;
    cursor:pointer;
}

.metadata-container a {
    text-decoration: underline
}

.tablehead-metadata {
    background:#d9d9d9;
}

.highlight-metadata {
    background:#eeeeee;
    padding: 5px;
    vertical-align: text-top;
}

.secondCol-metadata {
    padding:5px;
}

.add-to-datastore {
  width: 600px;
}

.compairing-datasets {
  width: 600px;
}

.chart-checkbox {
  margin-top:0 !important;
}
