// Place all the styles related to the Search controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.filter_wrapper {
  max-height:200px;
  min-height: 50px;
  overflow: auto;
}

.ul-no-style  {
  list-style: none;
}

.checkbox-trigger {
  width:200px;
  display:flex;
  flex-direction: row;
  align-items: flex-start;
}



input {
  font-size:12px;
}
input[type="checkbox"] {
  width:15px;
  height:15px;
  min-width: 15px;
  min-height: 15px;
}
input[type="checkbox"] + label {
  font-size:12px;
}

input[type="checkbox"]:disabled+label {
  font-size:12px;
  min-width: 15px;
  min-height: 15px;
  color:#ecedea;
}
